.button {
    position: relative;
    background-color: var(--primary-color-500);
    padding: 10px 26px;
    border-radius: 6px;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    color: var(--background);
    border: none;
    cursor: pointer;
    visibility: visible;
}

.button.primary {
    background-color: var(--primary-color-500);
}

.button.secondary {
    background-color: var(--primary-color-300);
}

.button:disabled {
    background-color: rgb(110, 110, 110);
    cursor: not-allowed;
}

.button.loading {
    background-color: rgb(110, 110, 110);
    cursor: not-allowed;
    color: transparent;
    fill: transparent;
}

.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.loading-container .circle {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    border: 4px solid var(--background);
    border-top: 4px solid var(--primary-color-600);
    animation: spin 1s infinite linear;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (hover: hover) and (pointer: fine) {
    .button.loading:hover {
        background-color: rgb(110, 110, 110);
        cursor: not-allowed;
    }

    .button.primary:hover {
        background-color: var(--primary-color-400);
        box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.3);
    }

    .button.secondary:hover {
        background-color: var(--primary-color-200);
        box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.3);
    }
}

@media (max-width: 480px) {
    .button {
        font-size: 1rem;
    }
}