.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  padding-bottom: 18vh;
  gap: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.form .input {
  min-width: 45vw;
}

@media (max-width: 900px) {
  .form .input {
    min-width: 72vw;
  }
}

@media (max-width: 480px) {
  .page {
    gap: 20px;
  }

  .form .input {
    min-width: 85vw;
  }
}