.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  padding-bottom: 18vh;
  gap: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 80vw;
}

.custom-suffix {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.custom-suffix .info {
  align-self: flex-end;
  font-size: 0.9rem;
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
    max-width: 90vw;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--background);
}

.icon.loading {
  visibility: hidden;
}

@media (max-width: 480px) {
  .page {
    gap: 20px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}